<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Origin Directory" value="E:\Minecraft Server\AngryLama\1"/>
    <add key="Backup Directory" value ="E:\Minecraft Server_Backup\AngryLama\1"/>
    <add key="Backup Format" value="backup_"/>
    <add key="Number of backups" value="3"/>
    <add key="Memory File" value=".memory"/>
    <add key="Memory Format" value="About: "/>
    <add key="Log File" value="backup.log"/>
    <add key="DateTime Format" value="yyyy-MM-dd HH_mm_ss"/>
  </appSettings>
</configuration>